body {
    margin: 0;
    padding-top: 0px;
    zoom: 90%;
    justify-content: center;
    align-items: center;
}
.leftside-navigation {
    position: fixed;
    top: 0;
    background: var(--menu-bg-color, #259E58);
    height: 100%;
    justify-content: space-between;
    /* overflow: auto; */
    z-index: 1000;
}
.menuMap {
    cursor: pointer;
}
.menu-wrapperMap {
    display: flex;
    width: 64px;
    height: 64px;
    
    justify-content: center;
    margin: 24px 96px 45px 97px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--White, #FFF);
}
ul {
    list-style-type: none;  
}
#nav-accordion li {
    position: relative;
    
}
#nav-accordion li a  {
    display: block;
    padding: 18px 16px;
    text-decoration: none;
    color: var(--White, #FFF);
    font-family: Bangers;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#nav-accordion li:hover>a {
    color: var(--hover-new-color, #C8FF9C);
}
#nav-accordion .sub li a {
    color: var(--gray-gray-500, #666);
/* Nunito/18px/18px: Medium */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
#nav-accordion .sub li:hover>a {
    color: var(--hover-new-color, #C8FF9C);
}
#nav-accordion .sub{
    display: none;
    position: absolute; 
    left: 100%;
    top: 0px;
    border-radius: 12px;
    background: #FFF;
    width: 232px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1001;
}
#nav-accordion li:hover > .sub{
    display: block;
}

.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* margin-bottom: 20px; */
    margin: 275px 0px 0px -15px
}

.logoDamSen {
    margin: 10px 0;
}
.social-logos {
    display: flex;
    justify-content: space-between; 
    width: 130px; 
}
.overlay{
    position: absolute;
    background: var(--frame-background, #E6FFD2);
    height: 100%;
    width: calc(100% - 257px);
    top:0;
    left:257px;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.overlay.visible {
    opacity: 1;
}
.hidden {
    display: none;
}
.contentBody{
    position: absolute;
    background-color: #89c248;
    height: 100%;
    width: calc(100% - 257px);
    top:0;
    left:257px;
    overflow: auto;

}

.centered-box {
    position: absolute; 
    top: 24px; 
    bottom: 24px; 
    left: 24px; 
    right: 24px; 
    background-color: #fff; 
    z-index: 1001; 
 
}
.areaBox {
    position: absolute;
    top: 31px; 
    right: 41px;
    left: 85px; 
    height: 73px; 
    width: 1735px; 

    display: flex;
    align-items: center; 

}

.area-item {
    color: #67776F;
    font-family: Bangers;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-right: 110px;
    position: relative;
    z-index: 1;
}
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 4px; 
    background-color: rgba(238, 205, 224, 1); 
    transition: width 0.3s ease, background-color 0.3s ease; 
    z-index: 0; 
}
.list-location-TroChoi {
    position: absolute;
    top: 153px; 
    left: 85px;
    right: 85px; 
    bottom: 104px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.column {
    width: 320px;
    height: 820px;
    padding: 10px;
    box-sizing: border-box;
    position: relative; 
}

.categoryName{
    color: var(--menu-bg-color, #259E58);

/* Nunito/32px */
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 48px */
}
.inner-column {
    position: absolute;
    top: 100px;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

.item-location {
    display: flex;
    /* flex-direction: column;  */
    /* align-items: flex-start; */
    align-items: center;
    margin-bottom: 24px; 
}
  
.circle-location {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 21.822px;
    border: 1px solid var(--pink-pink-500, #EC008C);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink-pink-500, #EC008C);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    margin-right: 10px;
  }
  
.item-location-text {
    /* display: block; */
    color: #666666;
}